{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head lang="en-US">
  <meta charset="utf-8" />
  <!-- For mobile devises -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
{% block title %}
  <title>Registration page</title>
{% endblock %}
<link rel="stylesheet" href="{% static 'chat/bg_video.css' %}" />
<link rel="stylesheet" href="{% static 'chat/reg_page.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet" />
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
</head>
<body>
  <div class="fullscreen-bg">
        <video autoplay="" loop="" poster="" class="fullscreen-bg__video" src="http://static.videezy.com/system/resources/previews/000/000/328/original/bokeh2.mp4">
        </video>
  </div>
{% block body %}
<!-- main section (registration table) -->
  <section class="reg_table">
    <div class="reg_table">
      <table style="width: 100%;">
        <caption>Registration</caption>
        <tbody>
          <form action="" method="post">
            {% csrf_token %}
            <tr>
              <td>
                {% if form.username.errors %}
                <span>{{ form.username.errors }}</span>
                {% endif %}
                <input type="text" placeholder="Enter username" name="username" maxlength="150" required="required" id="id_username" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="password" placeholder="Enter password" name="password1" required="required" id="id_password1" />
              </td>
            </tr>
            <tr>
              <td>
                {% if form.password2.errors %}
                <span>{{ form.password2.errors }}</span>
                {% endif %}
                <input type="password" placeholder="Enter password again" name="password2" required="required" id="id_password2" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="email" placeholder="Enter email" name="email" required="required" id="id_email" />
              </td>
            </tr>
            <tr>
              <td class="sub_form_td" style="display: flex; justify-content: center;">
                <input type="submit" value="Sign up" />
                <a href="{% url 'chat:login' %}">or to login</a>
              </td>
            </tr>
            </form>
        </tbody>
      </table>
    </div>
     <!-- displaying all registered users -->
    <div class="disp_all_users">
      {% for username in users_names %}
      <a href="/userpage/{{ username.user.id }}">{{ username.user.first_name }}</a>  
      {% endfor %}
    </div>
  </section>
{% endblock %}
</body>
</html>
